alembic==1.4.3
autopep8==1.5.4
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.3
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
dnspython==2.0.0
email-validator==1.1.1
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Migrate==2.5.3
flask-msearch==0.2.9
Flask-SQLAlchemy==2.4.4
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
gcloud==0.18.3
googleapis-common-protos==1.52.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jwcrypto==0.8
jws==0.1.3
Mako==1.1.3
MarkupSafe==1.1.1
mpmath==1.1.0
mysqlclient==2.0.1
oauth2client==3.0.0
phonenumbers==8.12.11
protobuf==3.14.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.6
pycryptodomex==3.9.9
pyrebase5==5.0.1
python-dateutil==2.8.1
python-editor==1.0.4
python-jwt==3.3.0
requests==2.11.1
requests-toolbelt==0.9.1
rsa==4.6
six==1.15.0
SQLAlchemy==1.3.20
sympy==1.6.2
toml==0.10.1
urllib3==1.26.2
Werkzeug==0.15.6
WTForms==2.3.3
