{% extends "base.html" %}
{%block content%}
{% include 'header.html' %}
<div class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('getCart')}}">Cart</a></li>
                </ul>
            </div>
        </div>
        {% if empty %}
        <div class="row">
            <div class="product well">
                <div class="row">
                    <h3 style="text-align: center; color: #7d8f8f;">Empty</h3>
                    <div class="col text-center">
                        <a href="{{url_for('home')}}" class="btn btn-2 " style="padding: 3px 26px;">Go to market</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            {% for key, product in session['Shoppingcart'].items() %}
            {% set discount =(product.discount/100) * product.price|float %}
            <div class="product well">
                <div class="col-md-3">
                    <div class="image">
                        <img src="{{url_for('static',filename='images/'+ product.image)}}" alt="{{product.name}}"/>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="caption">
                        <div class="name"><h3><a href="{{url_for('detail', id = key)}}">{{product.name}}</a></h3></div>
                        <div class="info">
                            <ul>
                                <li>Brand: {{ product.brand }}</li>
                            </ul>
                        </div>
                        <form action="{{url_for('updatecart', code=key)}}" method="post">
                            <div>
                                {% set colors = product.colors.split(',') %}
                                <label for="color">Colors: </label>
                                <select name="color" id="color">
                                    <option value="{{product.color}}" style="display: none;">
                                        {{product.color|capitalize}}
                                    </option>
                                    {% for color in colors %}
                                    {% set col = color.split(':') %}
                                    <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if product.discount %}
                            <div class="price">${{"%.2f"|format(product.price- discount)}}<span>${{"%.2f"|format(product.price)}}</span>
                            </div>
                            {% else %}
                            <div class="price">${{"%.2f"|format(product.price)}}
                            </div>
                            {% endif %}
                            <label>Số lượng: </label>
                            <input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}" size="3">
                            <button class="btn btn-2 " style="padding: 3px 26px;">Update</button>
                        </form>
                        <hr style="border-top: 1px solid #8f6d6d; margin-bottom: 8px; margin-top: 28px;">
                        <a href="{{url_for('deleteitem', id=key)}}" class="btn btn-default pull-right"
                           style="padding: 4px 26px;">REMOVE</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <a href="{{url_for('clearcart')}}" class="btn btn-default pull-right"
               style="margin-right: 40px; padding: 4px 7px; background: #D9534F">REMOVE ALL</a>

        </div>
        <hr style="border-top: 1px solid #8f6d6d; margin-bottom: 8px; margin-top: 28px;">
        <div class="row">
            <div class="pricedetails">
                <div class="col-md-4 col-md-offset-8" style="margin-left: 74.666667%">
                    <table style="margin-top: 20px;margin-bottom: 12px; ">
                        <h6 style="font-size: 25px;">Price Details</h6>
                        <tr>
                            <td>Giá gốc</td>
                            <td style="text-align:right">{{"%.2f"|format(subtotals)}}</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td style="text-align:right">{{"%.2f"|format(discounttotal)}}</td>
                        </tr>
                        <tr style="border-top: 1px solid #333">
                            <td>TOTAL</td>
                            <td style="text-align:right">{{"%.2f"|format(subtotals-discounttotal)}}</td>
                        </tr>
                    </table>
                    <center><a href="{{ url_for('get_order') }}" class="btn btn-2" style="padding: 3px 26px; margin-bottom: 20px;">Checkout</a>
                    </center>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock content%}