{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}
<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('get_all_category')}}">{{product.category.name}}</a></li>
                    <li><a href="#">{{product.name}}</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div id="main-content" class="col-md-8">
                <div class="product">
                    <div class="col-md-6">
                        <div class="image">
                            <div class="product-img ">
                                <ul class="row">
                                    <div id="b_image">
                                        <img src="{{ url_for('static', filename='images/'+product.image_2) }}"
                                             alt="{{ product.name}}">
                                    </div>
                                    <div class="product-content" id="s_image">
                                        <li class="col-lg-3 col-sm-3 col-xs-4">
                                            <img src="{{ url_for('static', filename='images/'+ product.image_1) }}"
                                                 alt="{{ product.name}}">
                                        </li>
                                        <li class="col-lg-3 col-sm-3 col-xs-4">
                                            <img src="{{ url_for('static', filename='images/'+ product.image_2) }}"
                                                 alt="{{ product.name}}">
                                        </li>
                                        <li class="col-lg-3 col-sm-3 col-xs-4">
                                            <img src="{{ url_for('static', filename='images/'+ product.image_3) }}"
                                                 alt="{{ product.name}}">
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="caption well">
                            <div class="name"><h3>{{ product.name}}</h3></div>
                            <div class="info">
                                <label>Brand: </label> {{ product.brand.name}}
                            </div>
                            <div class="price">
                                <label class="product-price">${{ product.price -
                                    product.price*product.discount/100 }}</label>
                                {% if product.discount>0 %}
                                <label class="discounted-price">${{ product.price }}</label>
                                {% endif %}
                                {% if product.discount >0 %}
                                <span class="offer-price">{{product.discount}}%off</span>
                                {% endif %}
                            </div>
                            <div class="options">
                                <label>Colors: </label>
                                {{product.colors}}
                            </div>
                            <div class="rating">
                                {{ products['average'][product.id][0] }}/5
                                {% for i in range(products['average'][product.id][0]|int+1) %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% for i in range(products['average'][product.id][0]|int + 1, 5) %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                                {% if products['average'][product.id][1] != 0 %}
                                ({{ products['average'][product.id][1] }})
                                {% endif %}
                            </div>
                            <div>
                                <form action="{{url_for('AddCart')}}" method="post">
                                    <input hidden name="product_id" value="{{product.id}}">
                                    <div>
                                        <label>Số lượng:</label>
                                        <input type="number" name="quantity" value="1" min="1" max="20" size="5">
                                    </div>
                                    <div>
                                        <label>Chọn màu:</label>
                                        <select name="colors">
                                            {% set colors = product.colors.split(',') %}
                                            {% for color in colors %}
                                            {% set col = color.split(':') %}
                                            <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="detail-btn">
                                        <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                        <button href="#" class="product-btn btn-cart">
                                            <i class="fa fa-shopping-cart"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="share">
                                <strong>Share :</strong>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-twitter"> twitter</i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-facebook"> facebook</i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-linkedin"> linkedin</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-desc">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
                        <li><a href="#review" role="tab" data-toggle="tab">Review</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="description" class="tab-pane fade in active">
                            <p>{{product.desc}}</p>
                        </div>
                        <div id="review" class="tab-pane fade">
                            <div class="review-form">
                                {% if rates|length == 0 %}
                                <h4>There are no reviews yet.</h4>
                                {% else %}
                                {% for rate in rates %}
                                {% if product.id == rate.product_id %}
                                <div>
                                    <div style="font-weight: bold; color: black">{{rate.register.username}}:</div>
                                    <div>
                                        <div class="rating" style="color: #FFC107">
                                            {% for i in range(1,rate.rate_number+1) %}
                                            <span class="glyphicon glyphicon-star"></span>
                                            {% endfor %}
                                            {% for i in range(rate.rate_number,5) %}
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div>{{rate.desc}}</div>
                                </div>
                                <div style="text-align:right">{{rate.time}}</div>
                                <div style="margin-top: -20px; text-align: center;">
                                    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                    - - - - - - - - - - - - - - -
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% if kt %}
                                <h4>Thank you for the rating. You are only evaluated once.</h4>
                                {% else %}
                                <h4>Your review of our product:</h4>
                                <div>
                                    {% from "_formhelpers.html" import render_field %}
                                    <form action="{{url_for('addrate')}}" method="POST" enctype="multipart/form-data">
                                        <input type="text" name="register_id" value="{{customer.id}}" hidden>
                                        <input type="text" name="product_id" value="{{product.id}}" hidden>
                                        <div class="rating" style="margin-top: -10px">
                                            <a class="glyphicon glyphicon-star-empty"
                                               style="color: #FFC107" onclick="test1()" id="1">
                                            </a>
                                            <a class="glyphicon glyphicon-star-empty"
                                               style="color: #FFC107" onclick="test2()" id="2">
                                            </a>
                                            <a class="glyphicon glyphicon-star-empty"
                                               style="color: #FFC107" onclick="test3()" id="3">
                                            </a>
                                            <a class="glyphicon glyphicon-star-empty"
                                               style="color: #FFC107" onclick="test4()" id="4">
                                            </a>
                                            <a class="glyphicon glyphicon-star-empty"
                                               style="color: #FFC107" onclick="test5()" id="5">
                                            </a>
                                            <input type="hidden" name="select" id="select" value="5">
                                        </div>
                                        <textarea rows="4" cols="93" name="desc" style="margin-top: 10px"></textarea>
                                        {% if customer == None %}
                                        <h4 style="margin-top: 15;">You need
                                            <a href="{{url_for('customer_login_page', page='rate', id=product.id)}}"
                                               style="color: blue">log in
                                            </a> to rate
                                        </h4>
                                        {% else %}
                                        <input class="btn btn-default" style="margin-top: 15px" type="submit"
                                               value="Đánh giá">
                                        {% endif %}
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-related">
                    <div class="heading"><h2>RELATED PRODUCTS</h2></div>
                    <div class="products">
                        {% for product in products["hot"] %}
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="product-block" style="height: 450px;">
                                <div class="product-img">
                                    <img src="{{ url_for('static', filename='images/'+product.image_2) }}"
                                         alt="{{ product.name}}" style="height:152px; weight:152px">
                                </div>
                                <div class="product-content" style="margin-top:-20">
                                    <div><h5 style="height: 35px;margin-top:-10"><a
                                            href="{{url_for('detail', id = product.id)}}"
                                            class="product-title">
                                        {{ product.name }}</a></h5>
                                    </div>
                                    <div class="product-meta">
                                        <div style="height: 60px;">
                                            <a href="#" class="product-price">${{ product.price -
                                                product.price*product.discount/100 }}</a>
                                            {% if product.discount>0 %}
                                            <a href="#" class="discounted-price">${{ product.price }}</a>
                                            {% endif %}
                                            {% if product.discount >0 %}
                                            <span class="offer-price">{{product.discount}}%off</span>
                                            {% else %}
                                            <span class="offer-price"></span>
                                            {% endif %}
                                        </div>

                                        <div class="shopping-btn">
                                            <form action="{{url_for('AddCart')}}" method="post">
                                                <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                                <button href="#" class="product-btn btn-cart"><i
                                                        class="fa fa-shopping-cart"></i></button>
                                                <BR>
                                                <input type="hidden" name="product_id" value="{{product.id}}">
                                                <input type="hidden" name="quantity" value="1" min="1" max="20">
                                                {% set colors = product.colors.split(',') %}
                                                <select name="colors" style="visibility: hidden;">
                                                    {% for color in colors %}
                                                    {% set col = color.split(':') %}
                                                    <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                                    {% endfor %}
                                                </select>
                                            </form>
                                        </div>
                                        <div>
                                            <div class="rating pt-3" style="color: #FFC107; margin-top: -20;">
                                                {{ products['average'][product.id][0] }}/5
                                                {% for i in range(products['average'][product.id][0]|int+1) %}
                                                <span class="glyphicon glyphicon-star"></span>
                                                {% endfor %}
                                                {% for i in range(products['average'][product.id][0]|int + 1, 5) %}
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                {% endfor %}
                                                {% if products['average'][product.id][1] != 0 %}
                                                ({{ products['average'][product.id][1] }})
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!--a aaa====================================a-->
            <div id="sidebar" class="col-md-4">
                <div class="widget wid-categories">
                    <div class="heading"><h4>CATEGORIES</h4></div>
                    <div class="content">
                        <ul>
                            {% for category in categories %}
                            <li><a href="{{url_for('get_category', name=category.name)}}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="widget wid-discouts">
                    <div class="heading"><h4>DISCOUNTS</h4></div>
                    <div class="content">
                        <ul>
                            <li><a href="{{url_for('get_discount', start = 0, end = 20)}}">< 20%</a></li>
                            <li><a href="{{url_for('get_discount', start = 20, end = 40)}}">20 - 40%</a></li>
                            <li><a href="{{url_for('get_discount', start = 40, end = 60)}}">40 - 60%</a></li>
                            <li><a href="{{url_for('get_discount', start = 60, end = 100)}}">> 60%</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget wid-brand">
                    <div class="heading"><h4>BRAND</h4></div>
                    <div class="content">
                        <ul>
                            {% for brand in brands %}
                            <li><a href="{{url_for('get_brand', name=brand.name)}}">{{ brand.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="widget wid-product">
                    <div class="heading"><h4>LATEST</h4></div>
                    <div class="content">
                        {% for product in products['new'] %}
                        <div class="product-block" style="height: 430px;">
                            <div class="product-img">
                                <img src="{{ url_for('static', filename='images/'+product.image_2) }}"
                                     alt="{{ product.name}}"
                                     style="padding:0 78px 0 58px; width:100%; text-align:center;height:100%;"></div>
                            <div class="product-content">
                                <h5 style="height: 35px;margin-top:-10">
                                    <a href="{{url_for('detail', id = product.id)}}"
                                       class="product-title">{{ product.name }}</a></h5>
                                <div class="product-meta">
                                    <a href="#" class="product-price">${{ product.price -
                                        product.price*product.discount/100 }}</a>
                                    {% if product.discount>0 %}
                                    <a href="#" class="discounted-price">${{ product.price }}</a>
                                    {% endif %}
                                </div>
                                <div class="shopping-btn">
                                    <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                    <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                                <div>
                                    <div class="rating pt-3" style="color: #FFC107; margin-top: 20;">

                                        {{ products['average'][product.id][0] }}/5
                                        {% for i in range(products['average'][product.id][0]|int+1) %}
                                        <span class="glyphicon glyphicon-star"></span>
                                        {% endfor %}
                                        {% for i in range(products['average'][product.id][0]|int + 1, 5) %}
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        {% endfor %}
                                        {% if products['average'][product.id][1] != 0 %}
                                        ({{ products['average'][product.id][1] }})
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	var b_image = document.getElementById('b_image');
    var s_image = document.getElementById('s_image').getElementsByTagName('img');
    for(var i = 0; i < s_image.length; i++){
        s_image[i].addEventListener('click', full_image);
    }
    function full_image(){
        var ImageSRC = this.getAttribute('src');
        b_image.innerHTML = "<img src=" + ImageSRC + ">";
    }

    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
          $(this).tab('show');
        });
        $('.nav-tabs a').on('show.bs.tab', function(){
        });
    });

    function test1() {
    document.getElementById("1").className = "glyphicon glyphicon-star";
    document.getElementById("2").className = "glyphicon glyphicon-star-empty";
    document.getElementById("3").className = "glyphicon glyphicon-star-empty";
    document.getElementById("4").className = "glyphicon glyphicon-star-empty";
    document.getElementById("5").className = "glyphicon glyphicon-star-empty";
    document.getElementById("select").value = 1;
    }
    function test2() {
    document.getElementById("1").className = "glyphicon glyphicon-star";
    document.getElementById("2").className = "glyphicon glyphicon-star";
    document.getElementById("3").className = "glyphicon glyphicon-star-empty";
    document.getElementById("4").className = "glyphicon glyphicon-star-empty";
    document.getElementById("5").className = "glyphicon glyphicon-star-empty";
    document.getElementById("select").value = 2;
    }
    function test3() {
    document.getElementById("1").className = "glyphicon glyphicon-star";
    document.getElementById("2").className = "glyphicon glyphicon-star";
    document.getElementById("3").className = "glyphicon glyphicon-star";
    document.getElementById("4").className = "glyphicon glyphicon-star-empty";
    document.getElementById("5").className = "glyphicon glyphicon-star-empty";
    document.getElementById("select").value = 3;
    }
    function test4() {
    document.getElementById("1").className = "glyphicon glyphicon-star";
    document.getElementById("2").className = "glyphicon glyphicon-star";
    document.getElementById("3").className = "glyphicon glyphicon-star";
    document.getElementById("4").className = "glyphicon glyphicon-star";
    document.getElementById("5").className = "glyphicon glyphicon-star-empty";
    document.getElementById("select").value = 4;
    }
    function test5() {
    document.getElementById("1").className = "glyphicon glyphicon-star";
    document.getElementById("2").className = "glyphicon glyphicon-star";
    document.getElementById("3").className = "glyphicon glyphicon-star";
    document.getElementById("4").className = "glyphicon glyphicon-star";
    document.getElementById("5").className = "glyphicon glyphicon-star";
    document.getElementById("select").value = 5;
    }
</script>
{% include 'footer.html' %}
{% endblock content%}