{% extends "admin/layout.html" %}
{%block content %}
{%include 'admin/header.html'%}
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    {% include "_messages.html" %}
                    {%if updatebrand %}
                    <h1 class="text-center-mt-5"> Updatebrand</h1>
                    <form action="" method='POST'>
                        <div class="form-group">
                            <span>Category: </span>
                            {% for category in categories %}
                            {% if updatebrand.category_id == category.id %}
                            <input type="text" name="category" class="form-control" value="{{category.name}}"
                                   readonly>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <span>Name brand</span>
                            <input type="text" name="brand" class="form-control" value="{{updatebrand.name}}">
                        </div>
                        <input type="submit" value="update brand" class="btn btn-info mt-2">
                    </form>
                    <a href="{{url_for('brands')}}" class="btn btn-warning"
                       style="margin-top: -65px;margin-left: 140px;">cancle</a>
                    {% else %}
                    <h1 class="text-center-mt-5"> Updatecategory</h1>
                    <form action="" method='POST'>
                        <input type="text" name="category" class="form-control" value="{{updatecat.name}}">
                        <input type="submit" value="update category" class="btn btn-info mt-2">
                    </form>
                    <a href="{{url_for('categories')}}" class="btn btn-warning"
                       style="margin-top: -65px;margin-left: 150px;">cancel</a>
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
{%include 'admin/footer.html'%}
{% endblock content %}