{% extends "base.html" %}
{%block content%}
{% include 'header.html' %}
<div style="background-image: url('../../static/images/background.png');background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;">
    <div class="container" style="padding-top: 25px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-head">
                        <h3 class="head-title">Latest product</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-carousel">
            <div class="box-body">
                <div class="row">
                    <div class="owl-carousel owl-two owl-theme">
                        <!-- product -->
                        {% for product in products['new'] %}
                        <div class="item">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{{url_for('detail', id = product.id)}}">
                                    <div class="product-block" style="height: 450px;"
                                         href="{{url_for('detail', id = product.id)}}">
                                        <div class="product-img">
                                            <img src="{{ url_for('static', filename='images/'+product.image_2) }}"
                                                 alt="{{ product.name}}" style="height:178px; weight:178px">
                                        </div>
                                        <div class="product-content" style="margin-top:-20">
                                            <div><h5 style="height: 35px;margin-top:-10"><a
                                                    href="{{url_for('detail', id = product.id)}}"
                                                    class="product-title">
                                                {{ product.name }}</a></h5>
                                            </div>
                                            <div class="product-meta">
                                                <div style="height: 60px;">
                                                    <a href="#" class="product-price">${{ product.price -
                                                        product.price*product.discount/100 }}</a>
                                                    {% if product.discount>0 %}
                                                    <a href="#" class="discounted-price">${{ product.price }}</a>
                                                    {% endif %}
                                                    {% if product.discount >0 %}
                                                    <span class="offer-price" style="scolor: green;
                                            font-weight: 500;">{{product.discount}}%off</span>
                                                    {% else %}
                                                    <span class="offer-price"></span>
                                                    {% endif %}
                                                </div>

                                                <div class="shopping-btn">
                                                    <form action="{{url_for('AddCart')}}" method="post">
                                                        <a href="#" class="product-btn btn-like"><i
                                                                class="fa fa-heart"></i></a>
                                                        <button href="#" class="product-btn btn-cart"><i
                                                                class="fa fa-shopping-cart"></i></button>
                                                        <BR>
                                                        <input type="hidden" name="product_id" value="{{product.id}}">
                                                        <input type="hidden" name="quantity" value="1" min="1" max="20">
                                                        {% set colors = product.colors.split(',') %}
                                                        <select name="colors" style="visibility: hidden;">
                                                            {% for color in colors %}
                                                            {% set col = color.split(':') %}
                                                            <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </form>
                                                </div>
                                                <div>
                                                    <div class="rating pt-3" style="color: #FFC107; margin-top: -20;">
                                                        {{ products['average'][product.id][0] }}/5
                                                        {% for i in range(products['average'][product.id][0]|int+1) %}
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        {% endfor %}
                                                        {% for i in range(products['average'][product.id][0]|int + 1, 5)
                                                        %}
                                                        <span class="glyphicon glyphicon-star-empty"></span>
                                                        {% endfor %}
                                                        {% if products['average'][product.id][1] != 0 %}
                                                        ({{ products['average'][product.id][1] }})
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.product -->
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.latest products -->
    <!-- seller products -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-head">
                        <h3 class="head-title">Shock discounts</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-carousel">
            <div class="box-body">
                <div class="row">
                    <div class="owl-carousel owl-two owl-theme">
                        <!-- product -->
                        {% for product in products['sell'] %}
                        <div class="item">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{{url_for('detail', id = product.id)}}">
                                    <div class="product-block" style="height: 450px;">
                                        <div class="product-img">
                                            <img src="{{ url_for('static', filename='images/'+product.image_2) }}"
                                                 alt="{{ product.name}}" style="height:178px; weight:178px">
                                        </div>
                                        <div class="product-content" style="margin-top:-20">
                                            <div><h5 style="height: 35px;margin-top:-10"><a
                                                    href="{{url_for('detail', id = product.id)}}"
                                                    class="product-title">
                                                {{ product.name }}</a></h5>
                                            </div>
                                            <div class="product-meta">
                                                <div style="height: 60px;">
                                                    <a href="#" class="product-price">${{ product.price -
                                                        product.price*product.discount/100 }}</a>
                                                    {% if product.discount>0 %}
                                                    <a href="#" class="discounted-price">${{ product.price }}</a>
                                                    {% endif %}
                                                    {% if product.discount >0 %}
                                                    <span class="offer-price" style="scolor: green;font-weight: 500;">{{product.discount}}%off</span>
                                                    {% else %}
                                                    <span class="offer-price"></span>
                                                    {% endif %}
                                                </div>

                                                <div class="shopping-btn">
                                                    <form action="{{url_for('AddCart')}}" method="post">
                                                        <a href="#" class="product-btn btn-like"><i
                                                                class="fa fa-heart"></i></a>
                                                        <button href="#" class="product-btn btn-cart"><i
                                                                class="fa fa-shopping-cart"></i></button>
                                                        <BR>
                                                        <input type="hidden" name="product_id" value="{{product.id}}">
                                                        <input type="hidden" name="quantity" value="1" min="1" max="20">
                                                        {% set colors = product.colors.split(',') %}
                                                        <select name="colors" style="visibility: hidden;">
                                                            {% for color in colors %}
                                                            {% set col = color.split(':') %}
                                                            <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </form>
                                                </div>
                                                <div>
                                                    <div class="rating pt-3" style="color: #FFC107; margin-top: -20;">
                                                        {{ products['average'][product.id][0] }}/5
                                                        {% for i in range(products['average'][product.id][0]|int+1) %}
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        {% endfor %}
                                                        {% for i in range(products['average'][product.id][0]|int + 1, 5)
                                                        %}
                                                        <span class="glyphicon glyphicon-star-empty"></span>
                                                        {% endfor %}
                                                        {% if products['average'][product.id][1] != 0 %}
                                                        ({{ products['average'][product.id][1] }})
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.product -->
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.seller products -->
    <!-- featured products -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-head">
                        <h3 class="head-title">All product</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <!-- product -->
                            {% for product in products['all'].items %}
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a href="{{url_for('detail', id = product.id)}}">
                                    <div class="product-block" style="height: 450px;">
                                        <div class="product-img">
                                            <img src="{{ url_for('static', filename='images/'+product.image_2) }}"
                                                 alt="{{ product.name}}" style="height:178px; weight:178px">
                                        </div>
                                        <div class="product-content" style="margin-top:-20">
                                            <div><h5 style="height: 35px;margin-top:-10"><a
                                                    href="{{url_for('detail', id = product.id)}}"
                                                    class="product-title">
                                                {{ product.name }}</a></h5>
                                            </div>
                                            <div class="product-meta">
                                                <div style="height: 60px;">
                                                    <a href="#" class="product-price">${{ product.price -
                                                        product.price*product.discount/100 }}</a>
                                                    {% if product.discount>0 %}
                                                    <a href="#" class="discounted-price">${{ product.price }}</a>
                                                    {% endif %}
                                                    {% if product.discount >0 %}
                                                    <span class="offer-price" style="scolor: green;font-weight: 500;">{{product.discount}}%off</span>
                                                    {% else %}
                                                    <span class="offer-price"></span>
                                                    {% endif %}
                                                </div>

                                                <div class="shopping-btn">
                                                    <form action="{{url_for('AddCart')}}" method="post">
                                                        <a href="#" class="product-btn btn-like"><i
                                                                class="fa fa-heart"></i></a>
                                                        <button href="#" class="product-btn btn-cart"><i
                                                                class="fa fa-shopping-cart"></i></button>
                                                        <BR>
                                                        <input type="hidden" name="product_id" value="{{product.id}}">
                                                        <input type="hidden" name="quantity" value="1" min="1" max="20">
                                                        {% set colors = product.colors.split(',') %}
                                                        <select name="colors" style="visibility: hidden;">
                                                            {% for color in colors %}
                                                            {% set col = color.split(':') %}
                                                            <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </form>
                                                </div>
                                                <div>
                                                    <div class="rating pt-3" style="color: #FFC107; margin-top: -20;">
                                                        {{ products['average'][product.id][0] }}/5
                                                        {% for i in range(products['average'][product.id][0]|int+1) %}
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        {% endfor %}
                                                        {% for i in range(products['average'][product.id][0]|int + 1, 5)
                                                        %}
                                                        <span class="glyphicon glyphicon-star-empty"></span>
                                                        {% endfor %}
                                                        {% if products['average'][product.id][1] != 0 %}
                                                        ({{ products['average'][product.id][1] }})
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor%}
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <div class="st-pagination">
                                    <ul class="pagination">
                                        {% if products['all'].has_prev %}
                                        <li><a href="{{url_for('home', page=products.prev_num)}}"
                                               aria-label="previous"><span aria-hidden="true">Previous</span></a>
                                        </li>
                                        {% endif %}
                                        {% if products["all"].total> 4 %}
                                        {% for page_num in products["all"].iter_pages(left_edge=1, right_edge=2,
                                        left_current=1,right_current=2) %}
                                        {% if page_num %}
                                        {% if products["all"].page == page_num %}
                                        <li class="active"><a href="{{url_for('home', page=page_num)}}">{{page_num}}</a>
                                        </li>
                                        {% else %}
                                        <li><a href="{{url_for('home', page=page_num)}}">{{page_num}}</a></li>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                        {% if products["all"].has_next %}
                                        <li><a href="{{url_for('home', page=products.next_num)}}"
                                               aria-label="Next"><span
                                                aria-hidden="true">Next</span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.cta -->
    <!-- features -->
    <div class="bg-default pdt40 pdb40">
        <div class="container">
            <div class="row">
                <!-- features -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-outline-icon">
                            <i class="fa fa-credit-card"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white">Safe Payment</h3>
                            <p>Praesent orci dolor, pretium vitae hendrerit convallisutes orcgravida bibendum.</p>
                        </div>
                    </div>
                </div>
                <!-- features -->
                <!-- features -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-outline-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white">24/7 Help Center</h3>
                            <p>Aliquam molestie urnased one pharetra vestibulum Interdum et malesuada fames.</p>
                        </div>
                    </div>
                </div>
                <!-- features -->
                <!-- features -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature-left feature-circle">
                        <div class="feature-outline-icon">
                            <i class="fa fa-rotate-left "></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white">Free &amp; Easy Return</h3>
                            <p>Vivamus semper nisnesbla accumsan dui justo esw finibus turpis serom.</p>
                        </div>
                    </div>
                </div>
                <!-- features -->
                <!-- features -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-outline-icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white">Great Value</h3>
                            <p>Morbi necmi turpiulm tristiq ueipsm inodiopharetr amal esuat erdumetalesuada.</p>
                        </div>
                    </div>
                </div>
                <!-- features -->
            </div>
        </div>
    </div>
</div>
<!-- /.features -->
<!-- footer -->
{% include 'footer.html' %}
{% endblock content%}
<!-- /.footer -->
