{% extends "base.html" %}
{%block content%}
{% include 'header.html' %}
<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('update_account')}}">My Account</a></li>
                    {% if detail_customer %}
                    <li><a href="{{url_for('update_account')}}">Information Account</a></li>
                    {% elif orders %}
                    <li><a href="{{url_for('payment_history')}}">Payment History</a></li>
                    {% elif detail_password_customer %}
                    <li><a href="{{url_for('change_password')}}">Change Password</a></li>
                    {% else %}
                    <li><a href="{{url_for('get_all_category', page=1)}}">Tất cả</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="sidebar" class="col-md-4">
                <div class="widget wid-categories">
                    <div class="heading"><h4>&nbsp;</h4></div>
                    <div class="content">
                        <ul>
                            {% if detail_customer %}
                            <li><a href="{{url_for('update_account')}}" style="color: red;">Edit Account</a></li>
                            {% else %}
                            <li><a href="{{url_for('update_account')}}">Edit Account</a></li>
                            {% endif %}
                            {% if orders %}
                            <li><a href="{{url_for('payment_history')}}" style="color: red;">Payment History</a></li>
                            {% else %}
                            <li><a href="{{url_for('payment_history')}}">Payment History</a></li>
                            {% endif %}
                            {% if detail_password_customer %}
                            <li><a href="{{url_for('change_password')}}" style="color: red;">Change Password</a></li>
                            {% else %}
                            <li><a href="{{url_for('change_password')}}">Change Password</a></li>
                            {% endif %}

                            <li><a href="{{url_for('customer_logout')}}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="main-content" class="col-md-8">
                <div class="widget wid-categories">
                    <!--                    My Account-->
                    {% if detail_customer %}
                    <div class="heading"><h4>Information Account</h4></div>
                    <div class="content">
                        {% include '_messages.html' %}
                        <form method="post" action="">
                            <div class="form-group">
                                <span> Username: </span>
                                <input type="text" class="form-control" name="username" id="username"
                                       value="{{detail_customer.username}}" readonly>
                            </div>
                            <div class="form-group">
                                <span> First name: </span>
                                <input type="text" class="form-control" name="firstname" id="firstname"
                                       value="{{detail_customer.first_name}}" required>
                            </div>
                            <div class="form-group">
                                <span> Last name: </span>
                                <input type="text" class="form-control" name="lastname" id="lastname"
                                       value="{{detail_customer.last_name}}" required>
                            </div>
                            <div class="form-group">
                                <span> Email: </span>
                                <input type="email" class="form-control" name="email"
                                       id="email" value="{{detail_customer.email}}" required>
                            </div>
                            <div class="form-group">
                                <span> PhoneNumber: </span>
                                <input type="tel" class="form-control" name="phone" id="phone"
                                       value="{{detail_customer.phone_number}}" required>
                            </div>
                            <div class="form-group">
                                <span> Gender:   </span>
                                {% if detail_customer.gender=="M" %}
                                <input name="gender" type="radio" checked="checked" value="M"> Male
                                <input name="gender" type="radio" value="F"> Female
                                {% else %}
                                <input name="gender" type="radio" value="M"> Male
                                <input name="gender" type="radio" checked="checked" value="F"> Female
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-info"
                                    style="padding: 5px 26px; background-color: #e51534;">Change
                            </button>
                        </form>

                    </div>
                    {% endif %}
                    {% if orders %}
                    <div class="heading"><h4>Payment history</h4></div>
                    <div class="content">
                        <table class="table table-sm">
                            <thead>
                            <th>Date</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Status</th>

                            </thead>
                            <tbody>
                            {% for order in orders %}
                            {% for key, product in order.orders.items() %}
                            {% set discount =(product.discount/100) * product.price |float %}
                            {% set subtotal = product.quantity|int * product.price|float %}
                            <tr>
                                <td> {{order.date_created}}</td>
                                <td>{{product.name}}</td>
                                <td>
                                    {{product.quantity}}
                                </td>
                                <td>${{"%.2f"|format(subtotal - discount|round(1,'floor')) }}</td>
                                {% if order.status == "Pending" %}
                                <td><p style="color:red;">{{order.status}}</p></td>
                                {% elif order.status == "Cancelled" %}
                                <td><p style="color:#847713;">{{order.status}}</p></td>
                                {% else %}
                                <td><p style="color:#32c67b;">{{order.status}}</p></td>
                                {% endif %}

                            </tr>
                            {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if detail_password_customer %}
                    <div class="heading"><h4>Change Password</h4></div>
                    <div class="content">
                        {% include '_messages.html' %}
                        <form method="post" action="">
                            <div class="form-group">
                                <span> Old Pasword: </span>
                                <input type="password" class="form-control" name="oldpassword" required>
                            </div>
                            <div class="form-group">
                                <span> New Password: </span>
                                <input type="password" class="form-control" name="newpassword" id="newpassword"
                                       required>
                            </div>
                            <div class="form-group">
                                <span> Retype New Password: </span>
                                <input type="password" class="form-control" name="renewpassword" id="renewpassword"
                                       onkeyup='check();' required>
                                <span id='message'></span>
                            </div>
                            <button type="submit" class="btn btn-info"
                                    style="padding: 5px 26px; background-color: #e51534;" onclick="return Validate()">
                                Change Password
                            </button>
                        </form>

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
<script>
var check = function() {
  if (document.getElementById('newpassword').value == document.getElementById('renewpassword').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'Match Password';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'Not Matching Password';
  }
}
function Validate() {
   var password = document.getElementById("newpassword").value;
   var confirmPassword = document.getElementById("renewpassword").value;
   if (password != confirmPassword) {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Not Matching Password';
            return false;
        }
        return true;
    }


</script>
{% endblock content%}
