{% extends "admin/layout.html" %}
{%block content %}
{%include 'admin/header.html'%}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{url_for('admin_manager')}}">Home</a></li>
                        <li class="breadcrumb-item active">My account</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Change Password</h3>
                        </div>
                        <form method="post" action="">
                            <div class="card">
                                <div class="card-body">
                                    {% include '_messages.html'%}
                                    <div>
                                        <div class="form-group">
                                            <span> Old Pasword: </span>
                                            <input type="password" class="form-control" name="oldpassword" required>
                                        </div>
                                        <div class="form-group">
                                            <span> New Password: </span>
                                            <input type="password" class="form-control" name="newpassword"
                                                   id="newpassword" required>
                                        </div>
                                        <div class="form-group">
                                            <span> Retype New Password: </span>
                                            <input type="password" class="form-control" name="renewpassword"
                                                   id="renewpassword"
                                                   onkeyup='check();' required>
                                            <span id='message'></span>
                                        </div>

                                    </div>
                                </div>
                            </div><!-- /.card -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary"
                                        onclick="return Validate()">Change
                                    Password
                                </button>
                            </div>
                        </form>
                        <!-- /.form-box -->

                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>
{%include 'admin/footer.html'%}
<script>
var check = function() {
  if (document.getElementById('newpassword').value == document.getElementById('renewpassword').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'Match Password';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'Not Matching Password';
  }
}
function Validate() {
   var password = document.getElementById("newpassword").value;
   var confirmPassword = document.getElementById("renewpassword").value;
   if (password != confirmPassword) {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Not Matching Password';
            return false;
        }
        return true;
    }





</script>
{% endblock content %}