{% extends 'layout.html' %}
{% block content  %}
{%include 'header.html'%}
{%include '_messages.html'%}
<!--<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="admin">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="admin">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="brands">Brands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="categories">Categories</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
</div>
-->
<div class="container mt-5">
    <table class="table table-sm table-condensed table-striped ">
        <thead>
            <th>Sr</th>
            <th>Product</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {%for product in products%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.discount}} %</td>
                <td>{{product.brand.name}}</td>
                <td><img src="{{url_for('static',filename='images/'+product.image_1)}}" width="50" height="40"></td>
                <td><a href="{{url_for('updateproduct',id=product.id)}}" class="btn btn-info ">Edit</a></td>
                <td>
                  <button type="button" class="btn  btn-danger" data-toggle="modal" data-target="#staticBackdrop-{{product.id}}">
                    Delete
                  </button>
                </td>
            </tr>
              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop-{{product.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">{{product.name}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <span class="text-danger">are you sure delete the product {{product.name}}</span>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-warning  btn-secondary" data-dismiss="modal">Cancel</button>
                      <form action="{{url_for('deleteproduct', id=product.id)}}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                      
                    </div>
                  </div>
                </div>
              </div>
            {%endfor%}
        </tbody>
    </table>
</div>
{%include 'footer.html'%}
{% endblock content %}