{% extends "layout.html" %}

{% block content %}
{% include "header.html"%}

<div 
    class="hold-transition register-page" 
    style="
    background-image: url('../../static/assets/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;"
>
    {% from "_formhelpers.html" import render_field %}
    <div class="register-box" style="width: 700px;">
    
      <div class="card">
        <div class="card-body">
          <p class="login-box-msg" style="font-weight: bold; font-size: larger; color: #007bff;">Add new Admin</p>
          {% include '_messages.html'%}
          <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div>
                {{ render_field(form.name, class="form-control") }}
                {{ render_field(form.username, class="form-control") }}
                {{ render_field(form.email, class="form-control") }}
                {{ render_field(form.password, class="form-control") }}
                {{ render_field(form.confirm, class="form-control") }}
            </div>
            <div class="row justify-content-center mb-3">
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Add</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
</div>

{% include "footer.html"%}
{% endblock content %}
